:root {
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: hsl(213, 20%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);

  font-size: 15px;
  font-family: Overpass;
}

body {
  background-color: var(--veryDarkBlue);
  color: var(--white);
  padding-inline: 1em;
}

main {
  height: 100vh;
  height: 100svh;
  position: relative;
}

.card {
  background-image: radial-gradient(circle at top, #202731, #171e28);
  border-radius: 1em;
  min-width: 18.5em;
  max-width: 21.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0%;
  transform: translateY(calc(-50% + -2.5em)) translateX(-50%);
}

.card.rating {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  animation: fadeIn forwards 300ms;
}

@keyframes fadeIn {
  to {
    opacity: 100%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.rating > .icon {
  padding: 0.7em;
  background-color: var(--darkBlue);
  border-radius: 50%;
  width: fit-content;
  display: grid;
  place-items: center;
}

.rating > .icon > img {
  height: 0.65em;
  aspect-ratio: 1 / 0.95;
}

.rating > h1 {
  font-size: 1.25em;
  color: var(--white);
  padding-top: 0.5em;
}

.rating > p {
  font-size: 0.75em;
  color: var(--lightGrey);
}

.rating > .buttons {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding-block: 0.75em;
}

.rating > .buttons > button {
  all: unset;
  cursor: pointer;
  font-size: 0.75em;
  color: var(--mediumGrey);
  background: var(--darkBlue);
  border-radius: 50%;
  aspect-ratio: 1 / 0.95;
  height: 3em;
  display: grid;
  place-items: center;
  vertical-align: middle;
  transition: background-color 300ms;
}

.rating > .buttons > button:hover {
  background-color: var(--lightGrey);
  color: var(--white);
}

.rating > .buttons > button.active {
  background-color: var(--orange);
  color: var(--white);
}

.rating > button {
  all: unset;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  background-color: var(--orange);
  padding: 0.75em;
  border-radius: 100vmax; /* this makes it so that it's always pill-shaped */
  display: grid;
  place-items: center;
}

.rating > button:active {
  background-color: var(--white);
  color: var(--orange);
}

.card.thank-you {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  align-items: center;
  z-index: -1;
}

.thank-you > img {
  width: 7.5em;
  margin: auto;
}

.thank-you > span {
  background-color: var(--darkBlue);
  color: var(--orange);
  display: grid;
  place-items: center;
  vertical-align: middle;
  width: fit-content;
  padding: 0.5em 1em 0.35em;
  border-radius: 100vmax;
  font-size: 0.75em;
}

.thank-you > h2 {
  font-size: 1.25em;
}

.thank-you > p {
  color: var(--lightGrey);
  font-size: 0.75em;
  text-align: center;
  margin-top: -0.75em;
}

footer {
  position: fixed;
  inset: auto 1em 1em auto;
  text-align: end;
}

footer > div > a:visited,
footer > div > a {
  color: var(--orange);
}
