@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);

    font-family: "Red Hat Display";
    color: var(--darkBlue);
  }
}

@layer utilities {
  .shadow-brightBlue\/50 {
    --tw-shadow-color: rgb(56 41 224 / 0.25);
    --tw-shadow: var(--tw-shadow-colored);
  }
}
